*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.buttonIcon Button{
    margin-bottom: "2rem";
}
.postJobBtn{
    width: 106%;
    border-radius: 30px;
    margin: 20px 0;
    height: 50px;
    font-size: large;
    color: rgb(10,102,194);
    border:2px solid rgb(10,102,194);
    cursor: pointer;
}
.postJobBtn:hover{
    background-color: rgba(10, 102, 194, 0.144);
}

.jobGuidance:hover{
    background-color: rgba(128, 128, 128, 0.212);
}


.jobGuidanceMore:hover{
    color: blue;
    text-decoration: underline;
}